@import url("normalize.css");

/*Váriaveis Utilizadas*/

:root {
  --cor-bg-cinza: #fafafa;
  --cor-letras-preto: #333;
  --cor-box-cinza: #c6c6c6;
  --cor-letra-cinza: #f1f1f1;
}

/*Declarando a ocupação das linhas*/

body {
  font-family: arial;
  display: grid;
  grid-template-areas: "header header header"
                       "aside main main"
                       "footer footer footer";

  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 100vh auto;
  -webkit-display: grid;
  -webkit-grid-template-areas: "header header header"
                       "aside main main"
                       "footer footer footer";

  -webkit-grid-template-columns: repeat(3, auto);
  -webkit-grid-template-rows: auto 100vh auto;
  -moz-display: grid;
  -moz-grid-template-areas: "header header header"
                       "aside main main"
                       "footer footer footer";

  -moz-grid-template-columns: repeat(3, auto);
  -moz-grid-template-rows: auto 100vh auto;
}



/*Dizendo aos elementos aonde eles devem ficar*/

.main-header {
  grid-area: header;
  background-color: var(--cor-bg-cinza);
}

.sidebar {
  grid-area: aside;
  height: 90vh;
  display: block;
  position: fixed;
  width: 30%;
  max-width: 100%;
  background-color: var(--cor-bg-cinza);
  box-shadow: 1px 4px 4px var(--cor-box-cinza);
  border-bottom-right-radius: 3px;
}

main {
  grid-area: main;
}

footer {
  grid-area:footer;
  height: 4em;
  background-color: var(--cor-letra-cinza);
}

/* Edição do side-nav*/

nav.side-nav {
  display: flex;
  flex-direction:column;
}

.side-nav a {
  text-decoration: none;
  color: var(--cor-letras-preto);
  padding: .5em;

}

.side-nav a:hover {
  background-color: var(--cor-letra-cinza);
}

.side-nav a:focus-within {
  background: #c4c4c4;
}

